# === Python ===
__pycache__/
*.py[cod]
*.pyo

# === Arquivos desnecessários do SQLite ===
*.db
*.sqlite3

# === Logs ===
*.log

# === Ambientes virtuais ===
venv/
.env/
env/

# === IDEs e editores ===
.vscode/
.idea/

# === Arquivos temporários do sistema ===
.DS_Store
Thumbs.db

# === Arquivos temporários de testes ou backup ===
*.tmp
*.bak
